config*.yaml
!config-example.yaml

/logs/*
!/logs/.gitkeep

/upload/*
/upload/video/*
/upload/image/*
!/upload/video/.gitkeep
!/upload/image/.gitkeep


*.exe
*.db
*.sqlite
*.sqlite3
*.log
*.bak
*.exe~

*.env
!*.env.example

.venv

**uploads
.gocache

*blog*